<h3 class="center">Olá, {{ organizer }}</h3>
<p class="center">Alguém acaba de confirmar presença em {{ meetupTitle }}! Veja os detalhes abaixo:</p>
<p>
  <strong>Nome: </strong> {{ name }} <br />
  <strong>Email: </strong> {{ email }} <br />
  <strong>Data do evento: </strong> {{ date }} <br />
  <strong>Descrição: </strong> {{ description }} <br />
  <br />
  <small>
    Você agora tem {{ number }} pessoas confirmadas para este Meetup.
  </small>
</p>
